<a href="https://colab.research.google.com/github/piaris/projectmanager/blob/main/1_%E1%84%91%E1%85%A1%E1%84%8B%E1%85%B5%E1%84%8A%E1%85%A5%E1%86%AB%E1%84%80%E1%85%B5%E1%84%8E%E1%85%A9_02_%E1%84%8C%E1%85%A1%E1%84%85%E1%85%AD%E1%84%92%E1%85%A7%E1%86%BC%E1%84%80%E1%85%AA%E1%84%83%E1%85%A6%E1%84%8B%E1%85%B5%E1%84%90%E1%85%A5%ED%91%9C%ED%98%84_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초 다지기

## 2 - 파이썬 자료형과 데이터 표현
파이썬의 다양한 데이터 타입과 다양한 연산자, 문자열

----------------------------------

## 2-1.파이썬 자료형(Data Type)

### 수학 연산하기

In [ ]:
# 변수를 이용한 계산
a = 10
b = 20
c = 5

In [ ]:
print(a + b)
print(a - b)
print(a * b)
print(a / c)
print(a % c)
print(a* a* a)
print(a**3)

30
-10
200
2.0
0
1000
1000

### [실습문제]
- 문제1: 10 + 3 x 4 결과 출력
- 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
- 문제3: 주어진 자연수가 홀수인지 짝수인지 판별하는 방법은?
- 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기

In [ ]:
# - 문제1: 10 + 3 x 4 결과 출력
print('10 + 3 * 4 =', 10 + 3 * 4)

10 + 3 * 4 = 22

In [ ]:
# - 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
iphone = 15
price = 130
print('아이폰 총 금액은', iphone*price, '만원이다')
print('%d x %d = %d' % (iphone, price, iphone*price))
print(f'{iphone} x {price} = {iphone * price}') #문자열 자동 입력키
print(f'{iphone:>10} x {price} = {iphone * price}') # :>오른쪽 정렬키 / ^가운데 정렬키

아이폰 총 금액은 1950 만원이다
15 x 130 = 1950
15 x 130 = 1950
        15 x 130 = 1950

In [ ]:
#문제3: 주어진 자연수가 홀수인지 짝수인지 판별하는 방법은?
import random
number = random.randint(1,100)
if number%2 == 0: #나머지 %
  print(number, '짝수')
else:
  print(number, '홀수')

97 홀수

In [ ]:
#문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기
a = 2
b = 5
c = 3
print(a**3*b**4*c**4)

405000

### 변수
데이터를 저장할 수 있는 공간

**변수 사용 시 주의사항**
- 첫 글자는 영문, 혹은 _(언더바)로 시작할 것 (한글도 가능)
- 영문자, 숫자, _(언더바)만으로 구성할 것 (공백문자 불가)
- 대문자, 소문자 구분해서 사용할 것
- 예약어는 피할 것

### 파이썬 자료형

In [ ]:
d1 = 123
d2 = '123'
d3 = [123]
d4 = (123,)
d5 = {'key':123}
d6 = {123}
d7 = True

print(f'데이터 {d1}의 자료형: {type(d1)}')
print(f'데이터 {d2}의 자료형: {type(d2)}')
print(f'데이터 {d3}의 자료형: {type(d3)}')
print(f'데이터 {d4}의 자료형: {type(d4)}')
print(f'데이터 {d5}의 자료형: {type(d5)}')
print(f'데이터 {d6}의 자료형: {type(d6)}')
print(f'데이터 {d7}의 자료형: {type(d7)}')

### 표준 입력과 출력
- 키보드로부터 입력을 받는 함수( input() )을 표준 입력함수라 한다.
- 화면에 출력하는 함수( print() )를 표준 출력함수라 한다.

In [ ]:
# 표준 입력(키보드로부터 데이터를 입력 받는 것)
a = input('숫자를 입력하세요: ')
a = int(a)

# 표준 출력
print(f'변수 a의 값: {a}', {type(a)})

숫자를 입력하세요: 20
변수 a의 값: 20 {<class 'int'>}

In [ ]:
a = int(input('숫자를 입력하세요: '))
print(f'변수 a의 값: {a}', {type(a)})

숫자를 입력하세요: 30
변수 a의 값: 30 {<class 'int'>}

In [ ]:
a = list(input('숫자를 입력하세요: '))
print(f'변수 a의 값: {a}', {type(a)})

숫자를 입력하세요: 30
변수 a의 값: ['3', '0'] {<class 'list'>}

#### 문자열 데이터를 숫자(정수)로 변환하기

In [ ]:
# 문자열 데이터를 숫자(정수)로 변환하기

a = input('숫자를 입력하세요: ')
a = int(a)

#### 다양한 변수 출력 방법

In [ ]:
a = input('키보드로 숫자를 입력해 주세요 ')

print('변수 a에 기억된 값은 %s 입니다', %a)
print(f'변수 a에 기억된 값은 {a}입니다.')

SyntaxError: ignored

### [실습문제] : 계산기 프로그램 만들기
정수 2개를 키보드로 각각 입력 받아 아래와 같이 덧셈, 뺄셈, 곱셈, 몫, 나머지를


출력하는 프로그램을 만들어 보세요.

In [ ]:
num1 = int(input('첫번째 숫자: '))
num2 = int(input('두번째 숫자: '))
print('-' * 50) #* : 문자열 반복
print('덧셈: %d + %d = %d' % (num1, num2, num1 + num2)) #print('출력할 문구'% (출력할 변수))
print('덧셈: %d - %d = %d' % (num1, num2, num1 - num2))
print('덧셈: %d x %d = %d' % (num1, num2, num1 * num2))
print('덧셈: %d / %d = %f' % (num1, num2, num1 / num2))

첫번째 숫자: 10
두번째 숫자: 20
--------------------------------------------------
덧셈: 10 + 20 = 30
덧셈: 10 - 20 = -10
덧셈: 10 x 20 = 200
덧셈: 10 / 20 = 0.500000

In [ ]:
num1 = int(input('첫번째 숫자: '))
num2 = int(input('두번째 숫자: '))
print('-' * 50) #* : 문자열 반복
print(f'덧셈: {num1} + {num2} = {num1 + num2}') #print('출력할 문구'% (출력할 변수))
print(f'덧셈: {num1} - {num2} = {num1 - num2}')
print(f'덧셈: {num1} x {num2} = {num1 * num2}')
print(f'덧셈: {num1} / {num2} = {num1 / num2:.2f}') # 장점, 데이터타입이 상관이 없음 / 소수점2자리까지 보여줘
:.2f

첫번째 숫자: 10
두번째 숫자: 20
--------------------------------------------------
덧셈: 10 + 20 = 30
덧셈: 10 - 20 = -10
덧셈: 10 x 20 = 200
덧셈: 10 / 20 = 0.50

- f'string' 함수를 이용해 출력하기

### [실습문제] : 시간 계산 프로그램
속력과 거리를 입력 받아 시간을 계산하여 출력하는 프로그램을 만드세요!
- 시간 = 거리 / 속력

In [ ]:
velocity = float(input('속력를 입력해 주세요(km/h) : ')) #int로 하면 단위수가 커질수록 외곡됨??
distance = float(input('거리를 입력해 주세요(km) : '))
print('-'*50)
print(f'distnace에 걸리는 시간은: {distance / velocity :.2f} 시간 입니다' )
print(f'distnace에 걸리는 시간은: {distance / velocity *60 :.2f} 분 입니다' )

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 50
--------------------------------------------------
distnace에 걸리는 시간은: 0.50 시간 입니다
distnace에 걸리는 시간은: 30.00 분 입니다

In [ ]:
velocity = float(input('속력를 입력해 주세요(km/h) : ')) #int로 하면 단위수가 커질수록 외곡됨??
distance = float(input('거리를 입력해 주세요(km) : '))
print('-'*50)
print(f'속력: {velocity} km/h' )
print(f'거리: {distance} km' )
print(f'시간: {distance / velocity:.2f} h' )

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 50
--------------------------------------------------
속력: 100.0 km/h
거리: 50.0 km
시간: 0.50 h

- eval()함수 사용하여 문자열을 계산할 수 있다

In [ ]:
# eval()함수 사용
eval('10+40+')

In [ ]:
velocity = input('속력를 입력해 주세요(km/h) : ')
distance = input('거리를 입력해 주세요(km) : ')
print('-'*50)
eval(f'{distance}/{velocity}')

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 50
--------------------------------------------------

0.5

In [ ]:
velocity = input('속력를 입력해 주세요(km/h) : ')
distance = input('거리를 입력해 주세요(km) : ')
print('-'*50)
time = eval(f'{distance}/{velocity}')
print(f'걸린 시간은 {time} h = {distance} km / {velocity} km/h')

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 30
--------------------------------------------------
걸린 시간은 0.3 h= 30 km / 100 km/h

50### 내장 수학 함수
- 파이썬 내장 함수 https://docs.python.org/ko/3.10/library/functions.html

In [ ]:
import math

a = -3.14

print(f'원주율: {math.pi}')
print(f'절대값: {abs(a)}')
print(f'반올림: {round(a)}')
print(f'올림  : {math.ceil(a)}')
print(f'내림  : {math.floor(a)}')
print(f'제곱  : {math.pow(2,8)}')
print(f'제곱근: {math.sqrt(4)}')
print(f'로그  : {math.log(10)}')

원주율: 3.141592653589793
절대값: 3.14
반올림: -3
올림  : -3
내림  : -4
제곱  : 256.0
제곱근: 2.0
로그  : 2.302585092994046

### [실습문제]: 수학 함수 사용하여 계산하기
- 문제1: 반지름이 4인 원의 넓이 출력
- 문제2: 3.14 곱하가 2 나누기 7의 값을 반올림하여 계산 결과 출력
- 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력

In [ ]:
# - 문제1: 반지름이 4인 원의 넓이 출력
a = 4
print(f'반지름이 4인 원의 넓이는: {math.pi*a**2}')

반지름이 4인 원의 넓이는: 50.26548245743669

In [ ]:
# - 문제2: 3.14 곱하가 2 나누기 7의 값을 반올림하여 계산 결과 출력
a = math.pi
print(f'3.15곱하기 2 나누기 7을 반올림한 값은: {round(a*2/7)}')

3.15곱하기 2 나누기 7을 반올림한 값은: 1

In [ ]:
# - 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력
a = round(math.pi,2)
print(f'원주율을 {a}로 만들어서 반지름이 4인 원의 둘레의 길이는: {2*a*4}')

원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이는: 25.12

---------------------------

In [ ]:
#정수 a를 입력 받아, a + aa + aaa의 결과가 나오는 프로그램을 작성하세요
a = int(input('정수를 입력하세요: '))

print(f'{a} + {a+a*10} + {a+a*10+a*100} = {a + a+a*10 + a+a*10+a*100}')

정수를 입력하세요: 7
7 + 77 + 777 = 861

In [ ]:
a = str(input('정수를 입력하세요: '))

print(f'{a} + {a*2} + {a*3} = {int(a) + int(a*2) + int(a*3)}')

정수를 입력하세요: 7
7 + 77 + 777 = 861

In [ ]:
a = input('정수를 입력하세요: ')

print(f"{a} + {a*2} + {a*3} = {eval(a)+eval(a*2)+eval(a*3)}")

정수를 입력하세요: 7
7 + 77 + 777 = 861

In [ ]:
a = input('정수를 입력하세요: ')
result = f"{a} + {a*2} + {a*3}"
print(f"{result} = {eval(result)}")

## 2-2.문자와 문자열

#### 문자와 문자열 변환

In [2]:
# 문자 --> 숫자(정수) 로 변환 : ord() 함수 사용
print( ord('A') )
print( ord('a'))
print( ord('!') )
print( ord('가') )

65
97
33
44032

In [3]:
# 숫자(정수) --> 문자 로 변환 : chr() 함수 사용
print( chr(65) )
print( chr(66) )
print( chr(97) )
print( chr(98) )
print( chr(44032) )
print( chr(44033) )

A
B
a
b
가
각

In [5]:
# 문자 --> 숫자 --> 이진수 로 변환
for c in '파이썬':
    숫자변환 = ord(c)              # unicode
    이진수변환 = bin(숫자변환)     # 16진수 binarycode
    print( 이진수변환, end = ', ')  # end = ' ' 한 줄로 표현하기

0b1101001100001100, 0b1100011101110100, 0b1100001101101100,

In [6]:
for c in '파이썬':
    # 이진수에서 앞'0b'를 없애기 위해 format() 함수 사용할 수 있다.
    print( format(ord(c), 'b'), end = ' ')  # 한 줄로 표현하기

1101001100001100 1100011101110100 1100001101101100

### 문자열 따옴표로 지정

#### 큰 따옴표  or 작은 따옴표로 지정한다

In [8]:
print('Hello')
print("Hello")
print("Hello 'world")
print('Hello "world')
print(' \"Yes, I can!\" ')

Hello
Hello
Hello 'world
Hello "world
 "Yes, I can!"

#### 따옴표 세 개 사용 : 여러 줄로 표현할 때

In [9]:
a = '''박씨가 소리질렀다.
도둑이야!'''
print(a)

박씨가 소리질렀다.
도둑이야!

In [11]:
menu = '''OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원'''
print(menu)

OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원

### [실습] 주문받아 출력하기

In [13]:
# 주문받아 출력하기
print('카페주문 프로그램입니다')
print('-' * 50)
print(menu)
print('-' * 50)
coffee = input('주문하실 음료를 입력하세요: ')
print(f'주문하신 음료 {coffee}가 나왔습니다. 맛있게 드세요~')

카페주문 프로그램입니다
--------------------------------------------------
OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원
--------------------------------------------------
주문하실 음료를 입력하세요: 카페라떼
주문하신 음료 카페라떼가 나왔습니다. 맛있게 드세요~

### 문자열 연산
- (+): 문자열 연결하기

In [14]:
print('안녕하세요'+ '이수연님')
print('안녕하세요', '이수연님')

안녕하세요이수연님
안녕하세요 이수연님

- (*) : 반복의 의미

In [15]:
print('조은별님 '*3)

조은별님 조은별님 조은별님

### [실습문제] 문자열 출력하기
- 문제1: 화면에   Mary’s cosmetics   출력
- 문제2: 화면에  박씨가 소리질렀다. “도둑이야!”.  출력
- 문제3: 다음 코드 실행시켜서 \t와 \n의 역할 확인하기 <br>
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")    \n 엔터 \t 탭

In [18]:
print('Mary’s cosmetics')
print('박씨가 소리질렀다. “도둑이야!”.')
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")

Mary’s cosmetics
박씨가 소리질렀다. “도둑이야!”.
안녕하세요.
오늘	날씨가		좋습니다.

-------------------

## 2-3.문자열 인덱싱과 슬라이싱
시퀀스(순서)가 있는 데이터형은 인덱싱과 슬라이싱이 가능함

In [ ]:
a = '우리는 민족중흥의 역사적 사명을 띠고 이 땅에 태어났다.'
print( )

In [ ]:
fruits = 'orange'
print( )

In [23]:
기사 = '''증권가는 18일 셀트리온과 셀트리온헬스케어의 합병법인 시가총액이 40조원대일 것으로 추산하면서 시너지 효과를 기대했다.

셀트리온과 셀트리온헬스케어는 전날 공시를 통해 이날 양사 합병 승인에 관한 이사회 결의를 거쳐 셀트리온이 셀트리온헬스케어를 흡수합병한다고 밝혔다.

이는 단계별 합병의 첫 단계로 셀트리온과 셀트리온헬스케어를 우선 합병하고, 이후 셀트리온제약의 사업 강화를 거쳐 통합 셀트리온과 셀트리온제약의 두 번째 합병을 추진할 계획이다.

증권가는 일단 합병에 따른 시너지 효과를 기대했다.'''
print(기사.count('셀트리온')) #기사라는 변수안에서 '셀트리온' 단어의 갯수
print(기사.find('합병'))
print(기사.find('오늘'))
#print(기사.index('오늘')) #인덱스는 찾을수 없을때 오류 발생

11
25
-1

In [57]:
기사 = 기사.replace('셀트리온', 'celtrion')

result = 기사.split(' ')
print(result)
print(f'리스트의 개수(길이): {len(result)}')

['증권가는', '18일', '셀트리온과', '셀트리온헬스케어의', '합병법인', '시가총액이', '40조원대일', '것으로', '추산하면서', '시너지', '효과를', '기대했다.\n\n셀트리온과', '셀트리온헬스케어는', '전날', '공시를', '통해', '이날', '양사', '합병', '승인에', '관한', '이사회', '결의를', '거쳐', '셀트리온이', '셀트리온헬스케어를', '흡수합병한다고', '밝혔다.\n\n이는', '단계별', '합병의', '첫', '단계로', '셀트리온과', '셀트리온헬스케어를', '우선', '합병하고,', '이후', '셀트리온제약의', '사업', '강화를', '거쳐', '통합', '셀트리온과', '셀트리온제약의', '두', '번째', '합병을', '추진할', '계획이다.\n\n증권가는', '일단', '합병에', '따른', '시너지', '효과를', '기대했다.']
리스트의 개수(길이): 55

### [실습문제] 파일명과 확장자 분리하기

In [25]:
#split() 함수로 파일명과 확장자 분리하기
fname = input('파일을 입력하세요: ')
print(f'입력한 파일은: {fname}')

a = fname.split('.')
print(f'파일명: {a[0]}, 확장자: {a[1]}')
print(a)

파일을 입력하세요: test.py
입력한 파일은: test.py
파일명: test, 확장자: py
['test', 'py']

---------------------------

## 2-4.변수 활용

### [실습문제]: 지불할 음식 총 가격 계산하기
- 음식가격:  4,450 원
- 세금: 6.75%
- 팁: 15%
1. meal 변수를 선언하고 값을 4450으로 지정하세요.
2. tax 변수를 생성하고 값으로 6.75%를 소수점 형태로 지정하세요.
3. tip 변수를 생성하고 값으로 15%를 소수점 형태로 지정하세요.
4. meal의 변수값에 세금을 곱해 meal 변수에 지정하세요.
5. 음식값에 tip을 더해 total 변수에 지정하세요.
6. total 변수 값을 출력하세요.

In [29]:
meal = 4450    # 1.음식가격
tax = 0.0675   # 2.세금
tip = 0.15     # 3.팁

#meal의 변수값에 세금을 곱해 meal 변수에 지정하세요.
meal_t = meal*tax
print(meal_t)
#음식값에 tip을 더해 total 변수에 지정하세요.
total = meal + meal_t + (meal + meal_t)*tip
#total 변수 값을 출력하세요.
print(total)

300.375
5462.93125

In [ ]:
meal = 4450    # 1.음식가격
tax = 0.0675   # 2.세금
tip = 0.15     # 3.팁
print(f'순수 세금: {meal*tax}')
meal = meal + (meal * tax)   # 4. 음식가격
total = meal + (meal * tip)  # 5. 팁 적용한 총 금액
print(f'팀 금액: {meal * tip}')
print(f'내가 지불해야 할 총 금액: {round(total,2)}')

### [실습문제]: 섭씨온도를 화씨온도로 변환하기
- 섭씨 온도 (Celsius): 1 atm에서의 물의 어는점을 0도, 끓는점을 100도로 정한 온도 체계. (°C)


- 화씨 온도 (Fahrenheit): 물이 어는 온도는 32도, 물이 끓는 온도는 212도. 180등분. (°F)
- 섭씨온도(℃) = (5 / 9) × (℉ - 32)  # Celsius
- 화씨온도(℉) = (9 / 5) × ℃ + 32    # Fahrenheit

In [34]:
# c_temp = input()   #키보드로부터 입력을 받는 함수: input()
# c_temp = int(c_temp)  # 정수로 변환: int()
# print(c_temp, type(c_temp) )

c_temp = input("화씨온도를 입력하세요")
c_temp = int(c_temp)
f_temp = (9 / 5) * c_temp + 32
print(f'현재 화씨온도{c_temp}℃를 섭씨온도로 변환하면 {f_temp}℉이다', type(c_temp) )

화씨온도를 입력하세요30
현재 화씨온도30℃를 섭씨온도로 변환하면 86.0℉이다 <class 'int'>

-------

## 2-5.연산자

### [실습문제]: 동전 교환 프로그램 만들기

In [44]:
# 키보드로부터 금액 입력 받기
print('---동전교환기 프로그램을 작동합니다.---')
money = int( input('금액을 입력하세요: '))
print('동전으로 교환하겠습니다.---------')
print('-'*50)
print(f"500원짜리 ==> {money//500}")
money %= 500
print(f"100원짜리 ==> {money//100}")
money %= 100
print(f"50원짜리 ==> {money//50}")
money %= 50
print(f"10원짜리 ==> {money//10}")
money %= 10
print(f"잔돈 ==> {money//1}으로 교환되었습니다")

---동전교환기 프로그램을 작동합니다.---
금액을 입력하세요: 4689
동전으로 교환하겠습니다.---------
--------------------------------------------------
500원짜리 ==> 9
100원짜리 ==> 1
50원짜리 ==> 1
10원짜리 ==> 3
잔돈 ==> 9으로 교환되었습니다

-----------------------------------------

## 2-6.리스트(List)
- 리스트는 여러 개의 데이터 값을 하나의 변수에 담을 수 있는 데이터 구조
- 리스트는 순서(인덱스)가 있고 데이터를 수정, 삭제, 추가 가능하다.
- 대괄호로 표현되고 내부 원소는 ,(쉼표)로 구분됨

### 리스트 생성

In [45]:
a = list()
a = []
a = [1,2,3]
a = ['I', 'Love', 'Python']
b = [1,2, '사랑해요', 'Python']
b = ['a', '1', 1, [2,3], -4]
a = [1,2,['a','b',['사랑해', '파이썬']], 3]

In [46]:
print(a)
print(b)

[1, 2, ['a', 'b', ['사랑해', '파이썬']], 3]
['a', '1', 1, [2, 3], -4]

In [49]:
print(list(range(10))) #range() 정수를 순차적으로 만들어주는 함수

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
a = 'python'
list(a)

['p', 'y', 't', 'h', 'o', 'n']

### 리스트 삭제

In [58]:
del(b) #리스트 전체 삭제

print(a)
print(b)

python

NameError: ignored

### 리스트 요소에 접근

In [102]:
colors = ['red', 'green', ['blue', 'deepblue'], 'black', 'white']

print( colors[1] )
print( colors[2] )
print( colors[2][1] )
print(colors)

green
['blue', 'deepblue']
deepblue
['red', 'green', ['blue', 'deepblue'], 'black', 'white']

In [ ]:

# '파이썬'을 출력하려면?

### 리스트 요소 추가 / 변경

In [103]:
print(colors)
colors.append('pink')     # 리스트 맨 끝에 추가
print(colors)
colors.insert(1, 'yellow')  # 리스트명.insert(인덱스위치, 값)
print(colors)

['red', 'green', ['blue', 'deepblue'], 'black', 'white']
['red', 'green', ['blue', 'deepblue'], 'black', 'white', 'pink']
['red', 'yellow', 'green', ['blue', 'deepblue'], 'black', 'white', 'pink']

In [104]:
colors[3].insert(1, 'lightblue')
print(colors)

['red', 'yellow', 'green', ['blue', 'lightblue', 'deepblue'], 'black', 'white', 'pink']

In [105]:
#리스트 요소 변경
colors[1] = 'light green'
print(colors)

['red', 'light green', 'green', ['blue', 'lightblue', 'deepblue'], 'black', 'white', 'pink']

In [106]:
colors[3][1] = 'pinkblue'
print(colors)

['red', 'light green', 'green', ['blue', 'pinkblue', 'deepblue'], 'black', 'white', 'pink']

In [107]:
colors[3:] = 'orange'
print(colors)

['red', 'light green', 'green', 'o', 'r', 'a', 'n', 'g', 'e']

### 리스트 요소 삭제

In [108]:
print(colors)
colors.pop()     # 리스트 맨 끝 요소 삭제
print(colors)
colors.remove('green')  # 리스트명.remove(값), 단 여러 개 일 경우 첫 번째만 삭제됨
print(colors)
del colors[2]
colors

['red', 'light green', 'green', 'o', 'r', 'a', 'n', 'g', 'e']
['red', 'light green', 'green', 'o', 'r', 'a', 'n', 'g']
['red', 'light green', 'o', 'r', 'a', 'n', 'g']

['red', 'light green', 'r', 'a', 'n', 'g']

In [110]:
#임의의 수 생성해서 리스트로 만들고 정렬하기
import random

numbers = list() #빈 리스트
numbers = [] #빈 리스트

num = random.randint(1,100)
numbers.append(num)
print(numbers)

[65]

In [111]:
#1~100까지 정수 중에 임의로 하나 뽑아서 리스트에 추가하기
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
print(numbers)

[65, 82, 43, 95, 36]

In [115]:
#정렬하기
numbers.sort()
print(f'정렬 후: {numbers}')

정렬 후: [36, 43, 65, 82, 95]

## 2-7.딕셔너리(Dictionary)
- 딕셔너리는 쌍이 하나로 묶인 자료구조
- 인덱스를 의미하는 ‘키(key)'와 자료의 내용인 ‘ 값(value)'을 이용하여  데이터를 관리
- 중괄호 { }로 묶어 구성, 키(Key)와 값(Value)의 쌍으로 구성
- 순서(sequence)가 없다

### 딕셔너리 생성

In [118]:
members = {}
members = dict()
print(type(members), members)

<class 'dict'> {}

In [121]:
members = {'name':'진', 'age':29, 'email':'jin@gggmail.com'}
print(type(members), members)

print(members)
print(members['age'])
print(members.get('age'))
members[7] = ['정국', '뷔', '지민'] #딕셔너리에 요소 추가 - 새로운 키(key):값(value) 추가
print(members)

<class 'dict'> {'name': '진', 'age': 29, 'email': 'jin@gggmail.com'}
{'name': '진', 'age': 29, 'email': 'jin@gggmail.com'}
29
29
{'name': '진', 'age': 29, 'email': 'jin@gggmail.com', 7: ['정국', '뷔', '지민']}

In [ ]:
prin

### 딕셔너리 키(key)와 값(value)에 접근하기

In [124]:
scores = {'국어': 100, '수학': 90, '영어': 80}

print(scores['국어'])  # 딕셔너리는 키로 접근한다.

# 방법1
print('---방법1---')
for key in scores:
    #print('%s => %s' % (key, scores[key]))
    print(f'{key} => {scores[key]}')

#키/값 요소를 갖는 리스트 형태로 반환하는 함수**
print(scores.items())

# 방법2
print('---방법2---')
for (key, value) in scores.items():
    # print('%s => %s' % (key, value))
    print(f'{key} => {value}')

100
---방법1---
국어 => 100
수학 => 90
영어 => 80
dict_items([('국어', 100), ('수학', 90), ('영어', 80)])
---방법2---
국어 => 100
수학 => 90
영어 => 80

In [125]:
print(scores.keys())   # 키만 추출
print(scores.values()) # 값만 추출
print(scores.items())  # (키,값)쌍 형태로 추출

dict_keys(['국어', '수학', '영어'])
dict_values([100, 90, 80])
dict_items([('국어', 100), ('수학', 90), ('영어', 80)])

### 딕셔너리에 요소 추가/수정/삭제

In [128]:
scores = {'국어': 100, '수학': 90, '영어': 80}

# 키로 요소 추가하기
scores['music'] = 100
print(scores)

# 요소 값 수정하기
scores['수학'] = 99
print(scores)

# # 요소 삭제하기
del scores['영어']
print(scores)율이

{'국어': 100, '수학': 90, '영어': 80, 'music': 100}
{'국어': 100, '수학': 99, '영어': 80, 'music': 100}
{'국어': 100, '수학': 99, 'music': 100}

------------------------

### 튜플 tuple

In [131]:
a = tuple() #빈 리스트
a = ()
print(type(a))

a= (1,) #튜플에 요소 1개를 정의할 때는 반드시 , 사용
print(type(a), a)

<class 'tuple'>
<class 'tuple'> (1,)

### 집합 set

In [ ]:
#집합 생성, 중복 없애줌

a = set() #빈 집합
a = set([1,2,3])
a = {1,2,3}
a = set("Hello")
a = {'e', 'H', 'l', 'o'}

#집합에서는 중복된 데이터를 배제시킬 수 있다
fruits = ['사과', '바나나' , '체리', '사과', '사과', '귤', '귤']
a = tuple(set(fruits))
#a.sort()
print(a)

In [ ]:
fruits = set(['사과', '바나나' , '체리', '사과', '사과', '귤', '귤'])
a = tuple(set(fruits))
#a.sort()
print(a)

끝